PORT=3000
TMDB_API_KEY=your-key
TMDB_READ_ACCESS_TOKEN=your-token
OPENAI_API_KEY=your-key

# PostgreSQL direct connection URI
PG_CONNECTION_STRING=postgresql://postgres:password@db.project-id.supabase.co:port/postgres

# Bonsai / OpenSearch full endpoint
BONSAI_URL=https://username:password@your-bonsai-hostname.region.bonsaisearch.net

# Frontend URL (local or production)
FRONTEND_URL=https://localhost:5173